body{
  font-family: 'Lora', serif;
  background-color: rgb(230,230,230);
  text-align: center;
}

h1{
  font-weight: 900;
  font-size: 32px;
  color: rgb(40,40,40);
}

h2{
  color: #7ECE90;
  font-size: 24px;
}

h1, h2, a{
  font-family: 'Roboto', sans-serif;
}

i{
  font-size: 40px;
  color: rgba(0,0,0,0.2);
}

i:hover{
  color: rgba(0,0,0,1);
}

div{
  width: 700px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.1);
  background-color: white;
}

img{
  border-radius: 50%;
  width: 100px;
}

#btn-blue{
  background-color: #6B72E1;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 4px;
  padding: 10px 20px;
}

#btn-blue:hover{
  background-color: black;
}

.list-inline{
  padding: 0;
}

.list-inline > li{
  display: inline-block;
  margin: 10px;
}

#p-mb20{
  margin-bottom: 32px;
}
